<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Settings of {{USER.username}}</h1>

    <form action="{% url 'settings' USER.username %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{FORM}}

        <br>

        <div>
            <button type="submit" name="apply_settings" value="edit">Save changes</button>
            <div>
                <a href="{% url 'profile' USER.username %}">Cancel changes</a>
            </div>
        </div>

        <hr>

        <div>
            <h3>Danger Zone</h3>
            <button type="submit" name="delete_user" value="delete">Delete My Account</button>
        </div>

    </form>

    {% include 'Go/footer.html' %}

</body>
</html>