{% extends 'Go/main.html' %}

{% block title %}
<title>The Go Game - Sign up</title>
{% endblock %}

{% block header %}
<h1>Create an account!</h1>
{% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}

    {% comment %}
        {{FORM.as_p}} - could use it like this if we don't care about vanilla labels
    {% endcomment %}

    {% for field in FORM %}
        <p>
            {{field.label}}
            {{field}}
        </p>
    {% endfor %}

    <p>{{FORM.errors}}</p>

    <input type="submit" name="Sign up">
</form>

{% endblock %}